/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* !BASE STYLES/RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-color: #F7F7FF;
    --border-top-color: rgba(0,0,0,.1);
    --title-font-family: 'Roboto Mono', monospace;
    --body-font-family: 'Roboto Mono', monospace;
    --container-padding: 1.5rem;
    --section-vertical-spacing: 8rem;
}

html { 
    /* 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
    color: var(--dark-color);
    overflow-x: hidden;
    background: #000 url('https://apod.nasa.gov/apod/image/2102/rosette_goldman_960.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    padding: var(--section-vertical-spacing);
}

section {
  text-align: center;
  background: rgba(62, 59, 59, 0.4);
  border-radius: 25px;
  padding: var(--container-padding)
}

h1, h2 {
  font-size: 3.0rem;
  text-transform: uppercase;
  color: var(--light-color);
  padding: var(--container-padding)
}

input, button {
  margin-bottom: 4rem;
  padding: 3px;
}

p {
  color: var(--light-color);
  line-height: 1.5;
  padding: var(--container-padding);
}

@media (max-width: 490px) and (orientation: portrait) {
    body {
      background-position: center;
      background-size: stretch;
    }
}
