/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* !BASE STYLES/RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --light-color: #F7F7FF;
    --border-top-color: rgba(0,0,0,.1);
    --title-font-family: 'Roboto Mono', monospace;
    --body-font-family: 'Roboto Mono', monospace;
    --container-padding: 1.5rem;
    --section-vertical-spacing: 8rem;
}

html { 
    /* 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
    color: var(--dark-color);
    overflow-x: hidden;
    background: #000 url('https://apod.nasa.gov/apod/image/2102/rosette_goldman_960.jpg') no-repeat;
    background-position: top;
    background-size: cover;
    padding: var(--section-vertical-spacing);
}

section {
  text-align: center;
  background: rgba(62, 59, 59, 0.4);
  border-radius: 25px;
  padding: var(--container-padding);
  background: rgba(51, 50, 50, 0.25);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1, h2 {
  font-size: 3.0rem;
  text-transform: uppercase;
  color: var(--light-color);
  padding: var(--container-padding);
  text-shadow: rgba(62,66,66,0.4) 0px 6px 10px;

}

input, button {
  margin-bottom: 4rem;
  padding: 3px;
  width: fit-content;
}

button {
  color: white;
  font-size: 1.8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  cursor: pointer;
}

p {
  color: var(--light-color);
  line-height: 1.5;
  padding: var(--container-padding);
}

@media (max-width: 490px) and (orientation: portrait) {
    body {
      background-position: center;
      background-size: stretch;
    }
}
